
# Media files
*.png
*.jpg
*.gif
*.mp4
*.webm

# App directories
/app/images/
/app/thumb/
/app/upload/
/app/node_modules/
/app/.svelte-kit/
/app/build/
/images
/thumb

# Config and environment files
app/.env
*.pem
package-lock.json
app/package-lock.json
vite.config.js

# Other directories
/mongodb/
/nginx/

# Docker
docker-compose.yml
docker-compose.yml
app/.env
