
*.png
*.jpg
*.gif
*.mp4
*.webm
/app/images
/app/images/*
/app/upload
/app/upload/*
/app/node_modules
/app/node_modules/*
/app/.svelte-kit/generated/*
/app/.svelte-kit/types/*
/mongodb/*
app/.svelte-kit/ambient.d.ts
