html, body{
    height:100%
}

body {
    background-color: grey;
    margin: 0;
}

    .header{
        background-color: azure;
        min-height: 15%;
        height: 100px;
    }

    .body{
        display:flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 85%;
        background-color: lightgray;
    }

    .footer{
        min-height: 7%;
        background-color: blueviolet;
    }





.flexTop{
    height: 50px;
    background-color: lightblue;
}

.flexMiddle{
    background-color: lightgoldenrodyellow;
    display:flex;
}

    .tagblock{
        background-color: aliceblue;
        max-width: 10%;
    }

        /* .tags{

        } */

    .imageContainer{
        min-width: 100px; 
        min-height: 20px;
        margin-left: 50px;
        background-color: lightgreen
    }

    .image{
        min-width: 200px;
        min-height: 50px;
        background-color: aquamarine;

        width:1000px;
        height:800px;
    }

.flexBottom{
    max-width: 75%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: honeydew;
    min-height: 10px;
}

    .imageDetails *{
        margin:0%;
        margin-top: 8px;
    }